*{
    margin : 0px;
}
#container,#panel{
    border : 2px solid black
}

#panel{
    width:80%;
    margin: auto;
    height: 1100px;

}
#input-form{
    border : 1px solid blue;
    width : 600px;
    height : 1000px ;
   
    margin : auto ;
    margin-top:50px;
    border-radius : 20px;
}


.view-request{
    border : 1px solid rgb(1, 1, 23);
}

.navbar-collapse-custom {
    margin-left: 460px;
     /* Adjust the value as needed */
}

#dashboard-tables{

    margin-left: 10px;
    margin-top: 50px;
    
    border-collapse: collapse;
}

#