<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <div id="panel">

          <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
            <div>
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" style="font-size:21px;" href="#">Admin's Dashboard</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse navbar-collapse-custom" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="font-size:20px;">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/all_users">All Users |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/all_campaigns">All Campaigns |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Find |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Stats |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Logout |</a>
                      </li>
                  </div>
                </div>
              </nav>
                
            </div>

            <!--Search feature-->
            <div style="margin-left:  900px;"> 
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            </div>
            
            <!--All Campaigns-->
            <div style="margin-top:40px;margin-left:13px;font-size:20px;">
              All Campaigns
              <div id="dashboard-tables" style="width:800px;">
                {% if campaigns_list %}
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="row"></th>
                        <td><b>Campaign Name</b></td>
                        <td><b>Sponsored by</b></td>
                        <td><span><b>Actions</b></span></td>
                      </tr>
                    </thead>
                    <tbody>
                        
                      {% for key, value in campaigns_list.items() %}
                      <!-- {{value[0]}}
                      {{value[1]}}
                      {{value[2]}}
                      {{value[3]}}
                      {{value[4]}}
                      {{value[5]}}
                      {{value[6]}} -->
                          <tr>
                            <th scope="row"></th>
                            <td>{{ value[0] }}</td>
                            
                            
                            <td>
                                
                                    {{users_list[value[1]][1]}}
                                
                            </td>
                            <td>
                              
                              
                                <!-- [campaign.campaign_name,campaign.sponsor_id,campaign.campaign_desc,campaign.campaign_status,campaign.campaign_budget,campaign.campaign_start_date,campaign.campaign_end_date] -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal" data-name = "{{value[0]}}" data-sponsor = "{{users_list[value[1]][1]}}" data-desc = "{{value[2]}}" data-status = "{{value[3]}}" data-budget = "{{value[4]}}" data-start = "{{value[5]}}" data-end = "{{value[6]}}">
                                  View
                                </button>
                              
                               
                              
                              
                            </td>
                            
                            <td>
                              <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#flagModal" data-id="{{ key }}" data-name="{{ value[1] }}" data-role="Influencer" {% if value[4] == 0 %}disabled{% endif %}>
                                Flag
                              </button> -->

                            <button 
                              type="button" 
                              class="btn btn-danger" 
                              data-bs-toggle="modal" 
                              data-bs-target="#flagModal" 
                              data-id="{{ key }}" 
                              data-name="{{ value[0] }}" 
                              data-sponsor="{{users_list[value[1]][1]}}" 
                              {% if value[3] == 0 %}disabled aria-label="Flag {{ value[0] }} (disabled)" {% else %} aria-label="Flag {{ value[0] }}"{% endif %}>
                              Flag
                            </button>

                            </td>

                            <td>
                              <button type="button" class="btn btn-warning" style="background-color: rgb(220, 233, 117); color: black;"data-bs-toggle="modal" data-bs-target="#revokeModal" data-id="{{ key }}" data-name="{{ value[0] }}" data-sponsor="{{users_list[value[1]][1]
                              }}" {% if value[3] == 1 %}disabled{% endif %}>
                                Revoke
                              </button>
                            </td>
                          </tr>
                       
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <h2>No Campaigns available</h2>
                {% endif %}
              </div>
            </div>
            
    
    <!-- View Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Campaign Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p><strong>Campaign Name:</strong> <span id="modalCampaignName"></span></p>
        <p><strong>Sponsored by:</strong> <span id="modalSponsorName"></span></p>
        <p><strong>Description:</strong> <span id="modalDescription"></span></p>
        <p><strong>Status:</strong> <span id="modalStatus"></span></p>
        <p><strong>Budget:</strong> <span id="modalBudget"></span></p>
        <p><strong>Start Date:</strong> <span id="modalStartDate"></span></p>
        <p><strong>End Date:</strong> <span id="modalEndDate"></span></p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <!--Flag Modal-->
    <form action="/all_campaigns/flag_campaign/{{ id }}" method="POST" id="flagForm">
      <div class="modal fade" id="flagModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Flag this user?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
              <p><strong>Name:</strong> <span id="modalCampaignName"></span></p>
              <p><strong>Sponsored By:</strong> <span id="modalSponsorName"></span></p>
            </div>
            
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Flag</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    
    <!-- Revoke Modal -->
<form action="/all_campaigns/revoke_campaign/{{ id }}" method="POST" id="revokeForm">
  <div class="modal fade" id="revokeModal" tabindex="-1" aria-labelledby="revokeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="revokeModalLabel">Revoke this user?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <p><strong>Name:</strong> <span id="revokeModalCampaignName"></span></p>
          <p><strong>Sponsored by:</strong> <span id="revokeModalSponsorName"></span></p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Revoke</button>
        </div>
      </div>
    </div>
  </div>
</form>


        </div>
      </div>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
    <script>
      
      // Script for view modal
var viewModal = document.getElementById('viewModal');
viewModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget;
  
  var name = button.getAttribute('data-name');
  var sponsor = button.getAttribute('data-sponsor');
  var description = button.getAttribute('data-desc');
  var status = button.getAttribute('data-status');
  var budget = button.getAttribute('data-budget');
  var start_date = button.getAttribute('data-start');
  var end_date = button.getAttribute('data-end');
  
  var modalCampaignName = viewModal.querySelector('#modalCampaignName');
  var modalSponsorName = viewModal.querySelector('#modalSponsorName');
  var modalDescription = viewModal.querySelector('#modalDescription');
  var modalStatus = viewModal.querySelector('#modalStatus');
  var modalBudget = viewModal.querySelector('#modalBudget');
  var modalStartDate = viewModal.querySelector('#modalStartDate');
  var modalEndDate = viewModal.querySelector('#modalEndDate');
  
  modalCampaignName.textContent = name;
  modalSponsorName.textContent = sponsor;
  modalDescription.textContent = description;
  modalStatus.textContent = status;
  modalBudget.textContent = budget;
  modalStartDate.textContent = start_date;
  modalEndDate.textContent = end_date;
});


      //Script for flag modal
      var flagModal = document.getElementById('flagModal');
      flagModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var id = button.getAttribute('data-id');
        var name = button.getAttribute('data-name');
        var sponsor = button.getAttribute('data-sponsor');
        
        var modalCampaignName = flagModal.querySelector('#modalCampaignName');
        var modalSponsorName = flagModal.querySelector('#modalSponsorName');
        modalCampaignName.textContent = name;
        modalSponsorName.textContent = sponsor;
        
        var form = document.getElementById('flagForm');
        form.action = "/all_campaigns/flag_campaign/" + id;
      });

    // Script for revoke modal
var revokeModal = document.getElementById('revokeModal');
revokeModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget;
  var id = button.getAttribute('data-id');
  var name = button.getAttribute('data-name');
  var sponsor = button.getAttribute('data-sponsor');

  var modalCampaignName = revokeModal.querySelector('#revokeModalCampaignName');
  var modalSponsorName = revokeModal.querySelector('#revokeModalSponsorName');
  modalCampaignName.textContent = name;
  modalSponsorName.textContent = sponsor;

  var form = document.getElementById('revokeForm');
  form.action = "/all_campaigns/revoke_campaign/" + id;
});

    </script>
  
</body>
</html>    
